<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>名前：<%=result[0].name %></h1>
  <p>住所：<%=result[0].gender%></p>
  <p>電話番号：<%=result[0].tel%></p>
  <p>学年：<%=result[0].grade%></p>
  <p>点数：<%=result[0].score%></p>
  <p><a href="/">戻る</a></p>
</body>
</html>
